In [20]:
import pandas as pd
import numpy as np
from data_path import data_path
dataPath = data_path.dataPath

data = pd.read_parquet(dataPath + 'train_series.parquet')
labels = pd.read_csv(dataPath + 'train_events.csv')

display(data)
display(labels)

              series_id    step                 timestamp     anglez    enmo
0          038441c925bb       0  2018-08-14T15:30:00-0400   2.636700  0.0217
1          038441c925bb       1  2018-08-14T15:30:05-0400   2.636800  0.0215
2          038441c925bb       2  2018-08-14T15:30:10-0400   2.637000  0.0216
3          038441c925bb       3  2018-08-14T15:30:15-0400   2.636800  0.0213
4          038441c925bb       4  2018-08-14T15:30:20-0400   2.636800  0.0215
...                 ...     ...                       ...        ...     ...
127946335  fe90110788d2  592375  2017-09-08T00:14:35-0400 -27.277500  0.0204
127946336  fe90110788d2  592376  2017-09-08T00:14:40-0400 -27.032499  0.0233
127946337  fe90110788d2  592377  2017-09-08T00:14:45-0400 -26.841200  0.0202
127946338  fe90110788d2  592378  2017-09-08T00:14:50-0400 -26.723900  0.0199
127946339  fe90110788d2  592379  2017-09-08T00:14:55-0400 -31.521601  0.0205

[127946340 rows x 5 columns]

          series_id  night   event      step                 timestamp
0      038441c925bb      1   onset    4992.0  2018-08-14T22:26:00-0400
1      038441c925bb      1  wakeup   10932.0  2018-08-15T06:41:00-0400
2      038441c925bb      2   onset   20244.0  2018-08-15T19:37:00-0400
3      038441c925bb      2  wakeup   27492.0  2018-08-16T05:41:00-0400
4      038441c925bb      3   onset   39996.0  2018-08-16T23:03:00-0400
...             ...    ...     ...       ...                       ...
14503  fe90110788d2     33  wakeup  560604.0  2017-09-06T04:07:00-0400
14504  fe90110788d2     34   onset  574620.0  2017-09-06T23:35:00-0400
14505  fe90110788d2     34  wakeup  581604.0  2017-09-07T09:17:00-0400
14506  fe90110788d2     35   onset       NaN                       NaN
14507  fe90110788d2     35  wakeup       NaN                       NaN

[14508 rows x 5 columns]

In [21]:
sample_data = False
sample_size = 10

if sample_data:
    series_id_sample = data["series_id"].sample(sample_size)

    data_sample = data[data["series_id"].isin(series_id_sample)]
    label_sample = labels[labels["series_id"].isin(series_id_sample)]
else:
    data_sample = data
    label_sample = labels

merged_data = data_sample.merge(label_sample, on=['series_id', "step", "timestamp"], how='left')
merged_data_only_labels = merged_data[np.logical_not(merged_data["event"].isna())]

In [35]:
unique_people = list(set(data["series_id"].values))

Number of people:  277
Number of people with labels:  277

In [23]:
def getTimeFromTimestamp(timestamp):
    sum = 0
    sum += int(timestamp[:2]) * 3600
    sum += int(timestamp[3:5]) * 60
    sum += int(timestamp[6:8])
    return sum

In [24]:
series_length = int(getTimeFromTimestamp("24:00:00") / 5)

def fix_daylight_savings(data):
    times = data["timestamp"].apply(lambda x: getTimeFromTimestamp(x[11:-5]))

    for i in range(len(times)):
        if (5 * i) % (series_length * 5) != times[i]:
            index = i
            time_stamp_at_day_light_savings = data["timestamp"].values[i]
            break

    #index if the index at day light savings and time_stamp_at_day_light_savings is the time stamp at day light savings
    #if time_stamp_at_day_light_savings is 01:00:00 then we gained an hour and need to remove the hour from the data
    #if time_stamp_at_day_light_savings is 03:00:00 then we lost an hour and need to add an hour to the data which will be the same as the previous hour
        
    try:
        data.drop("level_0", axis=1, inplace=True)
    except:
        pass

    if time_stamp_at_day_light_savings[11:-5] == "01:00:00":
        drop_range = range(index - 720, index)
        data = data.drop(drop_range).reset_index()
    elif time_stamp_at_day_light_savings[11:-5] == "03:00:00":
        insert_hour = data[index - 720: index]
        concat_list = [data[:index], insert_hour, data[index:]]
        data = pd.concat(concat_list).reset_index()

    return data

In [27]:
import torch

def make_label_tensor(data, labels):
    #making the label for any step 0 if the person is awake and 1 if the person is asleep
    label_tensor_person = torch.zeros((len(data)))
    first_step = data["step"].values[0]
    first_event = labels["event"].values[0]


    #num refers to the coorect label to start with
    #if the first event is onset then the first label should be 1(awake) and if the first event is wakeup then the first label should be 0(asleep)
    if (first_event == "onset"):
        num = 1
    elif (first_event == "wakeup"):
        num = 0

    end_index = 0
    for j in range(int(len(labels) - 1)):
        start_index = labels["step"].values[j] - first_step
        end_index = labels["step"].values[j + 1] - first_step

        label_tensor_person[start_index:end_index] = num
        #alternates num between 0 and 1
        num = (num + 1) % 2

    #this part takes care of everything after the last event
    label_tensor_person[end_index:] = num

    return label_tensor_person

In [29]:
import torch
import numpy as np

series_length = int(getTimeFromTimestamp("24:00:00") / 5)
data_list = []
labels_list = []


for i in range(len(unique_people)):
    person_data = merged_data[merged_data["series_id"] == unique_people[i]].reset_index()
    person_labels = merged_data_only_labels[merged_data_only_labels["series_id"] == unique_people[i]].reset_index()

    #merge removes some peoples labels for some reason so we drop these people
    if len(person_labels) == 0:
        continue

    #trimming the ends of each persons data and getting rid of labels that are no longer in the data
    startTime = getTimeFromTimestamp(person_data["timestamp"].values[0][11:-5])
    endTime = getTimeFromTimestamp(person_data["timestamp"].values[-1][11:-5])

    person_data = person_data[series_length - int(startTime / 5): -1 * int(endTime / 5 + 1)].reset_index()
    person_labels = person_labels[person_labels["step"].isin(person_data["step"])].reset_index()

    #fixing daylight savings so that the length of the data is made of whole days
    if (len(person_data) % 17280) == 720 or (len(person_data) % 17280) == 16560:
        person_data = fix_daylight_savings(person_data)


    label_tensor_person = make_label_tensor(person_data, person_labels)

    
    data_list.append(person_data)
    labels_list.append(label_tensor_person)

,index,series_id,step,timestamp,anglez,enmo,night,event
0,91112940,c5d08fc3e040,0,2018-03-07T13:00:00-0500,10.037700,0.0005,NaN,NaN
1,91112941,c5d08fc3e040,1,2018-03-07T13:00:05-0500,10.077500,0.0347,NaN,NaN
2,91112942,c5d08fc3e040,2,2018-03-07T13:00:10-0500,4.304600,0.0346,NaN,NaN
3,91112943,c5d08fc3e040,3,2018-03-07T13:00:15-0500,0.990800,0.0295,NaN,NaN
4,91112944,c5d08fc3e040,4,2018-03-07T13:00:20-0500,6.464700,0.0466,NaN,NaN
...,...,...,...,...,...,...,...,...
395995,91508935,c5d08fc3e040,395995,2018-03-30T11:59:35-0400,-30.522200,0.0093,NaN,NaN
395996,91508936,c5d08fc3e040,395996,2018-03-30T11:59:40-0400,-20.487200,0.0180,NaN,NaN
395997,91508937,c5d08fc3e040,395997,2018-03-30T11:59:45-0400,-33.149101,0.0096,NaN,NaN
395998,91508938,c5d08fc3e040,395998,2018-03-30T11:59:50-0400,-32.957401,0.0186,NaN,NaN
395999,91508939,c5d08fc3e040,395999,2018-03-30T11:59:55-0400,-29.696501,0.0359,NaN,NaN

Empty DataFrame
Columns: [index, series_id, step, timestamp, anglez, enmo, night, event]
Index: []

c5d08fc3e040

,index,series_id,step,timestamp,anglez,enmo,night,event
0,76312440,a3e59c2ce3f6,0,2019-03-19T11:00:00-0400,-86.868202,0.0476,NaN,NaN
1,76312441,a3e59c2ce3f6,1,2019-03-19T11:00:05-0400,-86.873901,0.0475,NaN,NaN
2,76312442,a3e59c2ce3f6,2,2019-03-19T11:00:10-0400,-86.875000,0.0472,NaN,NaN
3,76312443,a3e59c2ce3f6,3,2019-03-19T11:00:15-0400,-86.969704,0.0508,NaN,NaN
4,76312444,a3e59c2ce3f6,4,2019-03-19T11:00:20-0400,5.936800,0.2313,NaN,NaN
...,...,...,...,...,...,...,...,...
416515,76728955,a3e59c2ce3f6,416515,2019-04-12T13:29:35-0400,1.965000,0.0216,NaN,NaN
416516,76728956,a3e59c2ce3f6,416516,2019-04-12T13:29:40-0400,1.947500,0.0142,NaN,NaN
416517,76728957,a3e59c2ce3f6,416517,2019-04-12T13:29:45-0400,2.776800,0.0144,NaN,NaN
416518,76728958,a3e59c2ce3f6,416518,2019-04-12T13:29:50-0400,2.468500,0.0209,NaN,NaN
416519,76728959,a3e59c2ce3f6,416519,2019-04-12T13:29:55-0400,3.324100,0.0309,NaN,NaN

Empty DataFrame
Columns: [index, series_id, step, timestamp, anglez, enmo, night, event]
Index: []

a3e59c2ce3f6

,index,series_id,step,timestamp,anglez,enmo,night,event
0,29976300,390b487231ce,0,2018-04-26T16:15:00-0400,-85.655403,0.0229,NaN,NaN
1,29976301,390b487231ce,1,2018-04-26T16:15:05-0400,-85.834198,0.0230,NaN,NaN
2,29976302,390b487231ce,2,2018-04-26T16:15:10-0400,-85.862198,0.0232,NaN,NaN
3,29976303,390b487231ce,3,2018-04-26T16:15:15-0400,-85.825699,0.0234,NaN,NaN
4,29976304,390b487231ce,4,2018-04-26T16:15:20-0400,-85.863998,0.0234,NaN,NaN
...,...,...,...,...,...,...,...,...
396175,30372475,390b487231ce,396175,2018-05-19T14:29:35-0400,1.424500,0.0502,NaN,NaN
396176,30372476,390b487231ce,396176,2018-05-19T14:29:40-0400,-2.564200,0.0498,NaN,NaN
396177,30372477,390b487231ce,396177,2018-05-19T14:29:45-0400,-4.081600,0.0428,NaN,NaN
396178,30372478,390b487231ce,396178,2018-05-19T14:29:50-0400,-12.700600,0.0642,NaN,NaN
396179,30372479,390b487231ce,396179,2018-05-19T14:29:55-0400,-12.511200,0.0658,NaN,NaN

Empty DataFrame
Columns: [index, series_id, step, timestamp, anglez, enmo, night, event]
Index: []

390b487231ce

,index,series_id,step,timestamp,anglez,enmo,night,event
0,92699280,c7b1283bb7eb,0,2018-10-10T12:45:00-0400,-86.387901,0.0021,NaN,NaN
1,92699281,c7b1283bb7eb,1,2018-10-10T12:45:05-0400,-86.367401,0.0025,NaN,NaN
2,92699282,c7b1283bb7eb,2,2018-10-10T12:45:10-0400,-86.281097,0.0021,NaN,NaN
3,92699283,c7b1283bb7eb,3,2018-10-10T12:45:15-0400,-86.237099,0.0097,NaN,NaN
4,92699284,c7b1283bb7eb,4,2018-10-10T12:45:20-0400,-86.343498,0.0051,NaN,NaN
...,...,...,...,...,...,...,...,...
404275,93103555,c7b1283bb7eb,404275,2018-11-02T22:14:35-0400,-33.059799,0.0145,NaN,NaN
404276,93103556,c7b1283bb7eb,404276,2018-11-02T22:14:40-0400,-29.109200,0.0158,NaN,NaN
404277,93103557,c7b1283bb7eb,404277,2018-11-02T22:14:45-0400,-37.553799,0.0331,NaN,NaN
404278,93103558,c7b1283bb7eb,404278,2018-11-02T22:14:50-0400,-51.431900,0.0108,NaN,NaN
404279,93103559,c7b1283bb7eb,404279,2018-11-02T22:14:55-0400,-46.769402,0.0101,NaN,NaN

Empty DataFrame
Columns: [index, series_id, step, timestamp, anglez, enmo, night, event]
Index: []

c7b1283bb7eb

,index,series_id,step,timestamp,anglez,enmo,night,event
0,8095680,0f9e60a8e56d,0,2018-02-05T11:30:00-0500,-82.645302,0.0420,NaN,NaN
1,8095681,0f9e60a8e56d,1,2018-02-05T11:30:05-0500,-82.638000,0.0429,NaN,NaN
2,8095682,0f9e60a8e56d,2,2018-02-05T11:30:10-0500,-82.638901,0.0431,NaN,NaN
3,8095683,0f9e60a8e56d,3,2018-02-05T11:30:15-0500,-82.625298,0.0427,NaN,NaN
4,8095684,0f9e60a8e56d,4,2018-02-05T11:30:20-0500,-82.626198,0.0425,NaN,NaN
...,...,...,...,...,...,...,...,...
266755,8362435,0f9e60a8e56d,266755,2018-02-20T21:59:35-0500,-55.333599,0.0007,NaN,NaN
266756,8362436,0f9e60a8e56d,266756,2018-02-20T21:59:40-0500,-55.297100,0.0008,NaN,NaN
266757,8362437,0f9e60a8e56d,266757,2018-02-20T21:59:45-0500,-55.399399,0.0009,NaN,NaN
266758,8362438,0f9e60a8e56d,266758,2018-02-20T21:59:50-0500,-55.358002,0.0007,NaN,NaN
266759,8362439,0f9e60a8e56d,266759,2018-02-20T21:59:55-0500,-54.886902,0.0008,NaN,NaN

Empty DataFrame
Columns: [index, series_id, step, timestamp, anglez, enmo, night, event]
Index: []

0f9e60a8e56d

,index,series_id,step,timestamp,anglez,enmo,night,event
0,64151460,89c7daa72eee,0,2018-10-16T11:30:00-0400,-80.761200,0.0130,NaN,NaN
1,64151461,89c7daa72eee,1,2018-10-16T11:30:05-0400,-80.761200,0.0124,NaN,NaN
2,64151462,89c7daa72eee,2,2018-10-16T11:30:10-0400,-80.761200,0.0126,NaN,NaN
3,64151463,89c7daa72eee,3,2018-10-16T11:30:15-0400,-80.760498,0.0124,NaN,NaN
4,64151464,89c7daa72eee,4,2018-10-16T11:30:20-0400,-80.761200,0.0122,NaN,NaN
...,...,...,...,...,...,...,...,...
419575,64571035,89c7daa72eee,419575,2018-11-09T18:14:35-0400,-17.661600,0.0403,NaN,NaN
419576,64571036,89c7daa72eee,419576,2018-11-09T18:14:40-0400,-20.674700,0.0307,NaN,NaN
419577,64571037,89c7daa72eee,419577,2018-11-09T18:14:45-0400,-17.453699,0.0350,NaN,NaN
419578,64571038,89c7daa72eee,419578,2018-11-09T18:14:50-0400,-12.712300,0.0475,NaN,NaN
419579,64571039,89c7daa72eee,419579,2018-11-09T18:14:55-0400,-14.406600,0.0455,NaN,NaN

Empty DataFrame
Columns: [index, series_id, step, timestamp, anglez, enmo, night, event]
Index: []

89c7daa72eee

,index,series_id,step,timestamp,anglez,enmo,night,event
0,25764840,2fc653ca75c7,0,2018-08-06T11:00:00-0400,-89.497597,0.0182,NaN,NaN
1,25764841,2fc653ca75c7,1,2018-08-06T11:00:05-0400,-89.497398,0.0182,NaN,NaN
2,25764842,2fc653ca75c7,2,2018-08-06T11:00:10-0400,-89.495598,0.0180,NaN,NaN
3,25764843,2fc653ca75c7,3,2018-08-06T11:00:15-0400,-89.496498,0.0183,NaN,NaN
4,25764844,2fc653ca75c7,4,2018-08-06T11:00:20-0400,-89.497597,0.0178,NaN,NaN
...,...,...,...,...,...,...,...,...
416875,26181715,2fc653ca75c7,416875,2018-08-30T13:59:35-0400,11.152600,0.0091,NaN,NaN
416876,26181716,2fc653ca75c7,416876,2018-08-30T13:59:40-0400,11.151900,0.0093,NaN,NaN
416877,26181717,2fc653ca75c7,416877,2018-08-30T13:59:45-0400,11.048400,0.0089,NaN,NaN
416878,26181718,2fc653ca75c7,416878,2018-08-30T13:59:50-0400,10.950800,0.0107,NaN,NaN
416879,26181719,2fc653ca75c7,416879,2018-08-30T13:59:55-0400,11.126600,0.0108,NaN,NaN

Empty DataFrame
Columns: [index, series_id, step, timestamp, anglez, enmo, night, event]
Index: []

2fc653ca75c7

,index,series_id,step,timestamp,anglez,enmo,night,event
0,110145780,e11b9d69f856,0,2018-10-04T17:00:00-0400,-86.303101,0.0000,NaN,NaN
1,110145781,e11b9d69f856,1,2018-10-04T17:00:05-0400,-86.303101,0.0000,NaN,NaN
2,110145782,e11b9d69f856,2,2018-10-04T17:00:10-0400,-86.303101,0.0000,NaN,NaN
3,110145783,e11b9d69f856,3,2018-10-04T17:00:15-0400,-86.303101,0.0000,NaN,NaN
4,110145784,e11b9d69f856,4,2018-10-04T17:00:20-0400,-86.303101,0.0000,NaN,NaN
...,...,...,...,...,...,...,...,...
408055,110553835,e11b9d69f856,408055,2018-10-28T07:44:35-0400,17.991800,0.0660,NaN,NaN
408056,110553836,e11b9d69f856,408056,2018-10-28T07:44:40-0400,17.641399,0.0692,NaN,NaN
408057,110553837,e11b9d69f856,408057,2018-10-28T07:44:45-0400,17.175900,0.0750,NaN,NaN
408058,110553838,e11b9d69f856,408058,2018-10-28T07:44:50-0400,12.761100,0.0867,NaN,NaN
408059,110553839,e11b9d69f856,408059,2018-10-28T07:44:55-0400,10.859000,0.0885,NaN,NaN

Empty DataFrame
Columns: [index, series_id, step, timestamp, anglez, enmo, night, event]
Index: []

e11b9d69f856

In [30]:
#concatenating all the data and labels together and reshaping them into shape (batch_size, series_length, num_features(2 for data and 1 for label))
trimmed_data = pd.concat(data_list)

enmo_list = trimmed_data["enmo"].values
anglez_list = trimmed_data["anglez"].values
enmo_tensor = torch.tensor(enmo_list)
anglez_tensor = torch.tensor(anglez_list)

data_tensor = torch.stack((enmo_tensor, anglez_tensor), dim=1)
label_tensor = torch.cat(labels_list)

data_tensor = data_tensor.reshape((len(trimmed_data) // series_length, series_length, 2))
label_tensor = label_tensor.reshape((len(trimmed_data) // series_length, series_length))

In [31]:
torch.save(data_tensor, "batched_data\\features")
torch.save(label_tensor, "batched_data\\labels")